In [34]:
import numpy as np
import pandas as pd

In [35]:
df = pd.read_csv('movies.csv')

In [36]:
df.shape

(5002, 18)

In [37]:
df.drop_duplicates(inplace=True)

In [38]:
df.isna().sum()

adult                 0
backdrop_path        63
genre_ids             0
id                    0
original_language     0
original_title        0
overview             34
popularity            1
poster_path           4
release_date         15
title                 1
video                 1
vote_average          2
vote_count            2
cast                  2
director             25
keywords              2
genre_names           2
dtype: int64

In [39]:
df = df[['id', 'overview', 'title', 'genre_names', 'keywords', 'cast', 'director']]

In [40]:
df

,id,overview,title,genre_names,keywords,cast,director
0,533535,A listless Wade Wilson toils away in civilian ...,Deadpool & Wolverine,"['Action', 'Comedy', 'Science Fiction']","['hero', 'superhero', 'anti hero', 'mutant', '...","['Ryan Reynolds', 'Hugh Jackman', 'Emma Corrin']",Shawn Levy
1,1022789,Teenager Riley's mind headquarters is undergoi...,Inside Out 2,"['Animation', 'Family', 'Adventure', 'Comedy']","['sadness', 'disgust', 'sequel', 'computer ani...","['Amy Poehler', 'Maya Hawke', 'Kensington Tall...",Kelsey Mann
2,704239,A New Jersey construction worker goes from reg...,The Union,"['Action', 'Comedy']","['espionage', 'spy', 'old flame', 'miscegenati...","['Mark Wahlberg', 'Halle Berry', 'J.K. Simmons']",Julian Farino
3,573435,"After their late former Captain is framed, Low...",Bad Boys: Ride or Die,"['Action', 'Crime', 'Thriller', 'Comedy']","['miami, florida', 'sequel', 'on the run', 'po...","['Will Smith', 'Martin Lawrence', 'Vanessa Hud...",Adil El Arbi
4,519182,"Gru and Lucy and their girls—Margo, Edith and ...",Despicable Me 4,"['Animation', 'Family', 'Comedy', 'Action']","['superhero', 'villain', 'sequel', 'super vill...","['Steve Carell', 'Kristen Wiig', 'Will Ferrell']",Chris Renaud
...,...,...,...,...,...,...,...
4997,297090,"The ""Torture Club"" is an official after-school...",The Torture Club,"['Drama', 'Comedy']","['bondage', 'lesbian relationship', 'torture',...","['Noriko Kijima', 'Haruna Yoshizumi', 'Yuki Ma...",Kōta Yoshida
4998,764835,A woman desperately races to save her child af...,The Desperate Hour,['Thriller'],['school shooting'],"['Naomi Watts', 'Colton Gobbo', 'Sierra Maltby']",Phillip Noyce
4999,13813,"Based on a true story, during World War II, fo...",Defiance,"['Action', 'Drama', 'History', 'War']","['sibling relationship', 'fight', 'brother', '...","['Daniel Craig', 'Liev Schreiber', 'Jamie Bell']",Edward Zwick
5000,16617,Trainees in the FBI's psychological profiling ...,Mindhunters,"['Mystery', 'Thriller', 'Crime']","['island', 'fbi', 'simulation', 'training', 's...","['Kathryn Morris', 'Jonny Lee Miller', 'LL Coo...",Renny Harlin
5001,9101,Maverick Navy Lieutenant Commander Tom Dodge w...,Down Periscope,['Comedy'],"['mutiny', 'submarine', 'u.s. navy', 'misfit',...","['Kelsey Grammer', 'Lauren Holly', 'Rob Schnei...",David S. Ward

In [41]:
df.isna().sum()

id              0
overview       34
title           1
genre_names     2
keywords        2
cast            2
director       25
dtype: int64

In [42]:
df.shape

(4928, 7)

In [43]:
df.dropna(inplace=True)

In [44]:
df.isna().sum()

id             0
overview       0
title          0
genre_names    0
keywords       0
cast           0
director       0
dtype: int64

In [46]:
import ast

In [47]:
def create_list(name):
    return [name]

In [48]:
temp = df.copy()

In [51]:
df = temp.copy()

In [52]:
df['genre_names'] = df['genre_names'].apply(ast.literal_eval)
df['keywords'] = df['keywords'].apply(ast.literal_eval)
df['cast'] = df['cast'].apply(ast.literal_eval)
df['director'] = df['director'].apply(create_list)
df['overview'] = df['overview'].apply(lambda x:x.split())

In [53]:
df

,id,overview,title,genre_names,keywords,cast,director
0,533535,"[A, listless, Wade, Wilson, toils, away, in, c...",Deadpool & Wolverine,"[Action, Comedy, Science Fiction]","[hero, superhero, anti hero, mutant, breaking ...","[Ryan Reynolds, Hugh Jackman, Emma Corrin]",[Shawn Levy]
1,1022789,"[Teenager, Riley's, mind, headquarters, is, un...",Inside Out 2,"[Animation, Family, Adventure, Comedy]","[sadness, disgust, sequel, computer animation,...","[Amy Poehler, Maya Hawke, Kensington Tallman]",[Kelsey Mann]
2,704239,"[A, New, Jersey, construction, worker, goes, f...",The Union,"[Action, Comedy]","[espionage, spy, old flame, miscegenation, con...","[Mark Wahlberg, Halle Berry, J.K. Simmons]",[Julian Farino]
3,573435,"[After, their, late, former, Captain, is, fram...",Bad Boys: Ride or Die,"[Action, Crime, Thriller, Comedy]","[miami, florida, sequel, on the run, police de...","[Will Smith, Martin Lawrence, Vanessa Hudgens]",[Adil El Arbi]
4,519182,"[Gru, and, Lucy, and, their, girls—Margo,, Edi...",Despicable Me 4,"[Animation, Family, Comedy, Action]","[superhero, villain, sequel, super villain, il...","[Steve Carell, Kristen Wiig, Will Ferrell]",[Chris Renaud]
...,...,...,...,...,...,...,...
4997,297090,"[The, ""Torture, Club"", is, an, official, after...",The Torture Club,"[Drama, Comedy]","[bondage, lesbian relationship, torture, based...","[Noriko Kijima, Haruna Yoshizumi, Yuki Mamiya]",[Kōta Yoshida]
4998,764835,"[A, woman, desperately, races, to, save, her, ...",The Desperate Hour,[Thriller],[school shooting],"[Naomi Watts, Colton Gobbo, Sierra Maltby]",[Phillip Noyce]
4999,13813,"[Based, on, a, true, story,, during, World, Wa...",Defiance,"[Action, Drama, History, War]","[sibling relationship, fight, brother, world w...","[Daniel Craig, Liev Schreiber, Jamie Bell]",[Edward Zwick]
5000,16617,"[Trainees, in, the, FBI's, psychological, prof...",Mindhunters,"[Mystery, Thriller, Crime]","[island, fbi, simulation, training, serial kil...","[Kathryn Morris, Jonny Lee Miller, LL Cool J]",[Renny Harlin]
5001,9101,"[Maverick, Navy, Lieutenant, Commander, Tom, D...",Down Periscope,[Comedy],"[mutiny, submarine, u.s. navy, misfit, maveric...","[Kelsey Grammer, Lauren Holly, Rob Schneider]",[David S. Ward]

In [54]:
def collapse(L):
    l = []
    for i in L:
        l.append(i.replace(' ', ''))
    return l

In [55]:
df['overview'] = df['overview'].apply(collapse)
df['genre_names'] = df['genre_names'].apply(collapse)
df['keywords'] = df['keywords'].apply(collapse)
df['cast'] = df['cast'].apply(collapse)
df['director'] = df['director'].apply(collapse)

In [56]:
df['tags'] = df['overview'] + df['genre_names'] + df['keywords'] + df['cast'] + df['director']

In [57]:
new_df = df.drop(columns=['overview', 'genre_names', 'keywords', 'cast', 'director'])

In [58]:
new_df

,id,title,tags
0,533535,Deadpool & Wolverine,"[A, listless, Wade, Wilson, toils, away, in, c..."
1,1022789,Inside Out 2,"[Teenager, Riley's, mind, headquarters, is, un..."
2,704239,The Union,"[A, New, Jersey, construction, worker, goes, f..."
3,573435,Bad Boys: Ride or Die,"[After, their, late, former, Captain, is, fram..."
4,519182,Despicable Me 4,"[Gru, and, Lucy, and, their, girls—Margo,, Edi..."
...,...,...,...
4997,297090,The Torture Club,"[The, ""Torture, Club"", is, an, official, after..."
4998,764835,The Desperate Hour,"[A, woman, desperately, races, to, save, her, ..."
4999,13813,Defiance,"[Based, on, a, true, story,, during, World, Wa..."
5000,16617,Mindhunters,"[Trainees, in, the, FBI's, psychological, prof..."
5001,9101,Down Periscope,"[Maverick, Navy, Lieutenant, Commander, Tom, D..."

In [59]:
new_df['tags'] = new_df['tags'].apply(lambda x: ' '.join(x))

In [60]:
new_df

,id,title,tags
0,533535,Deadpool & Wolverine,A listless Wade Wilson toils away in civilian ...
1,1022789,Inside Out 2,Teenager Riley's mind headquarters is undergoi...
2,704239,The Union,A New Jersey construction worker goes from reg...
3,573435,Bad Boys: Ride or Die,"After their late former Captain is framed, Low..."
4,519182,Despicable Me 4,"Gru and Lucy and their girls—Margo, Edith and ..."
...,...,...,...
4997,297090,The Torture Club,"The ""Torture Club"" is an official after-school..."
4998,764835,The Desperate Hour,A woman desperately races to save her child af...
4999,13813,Defiance,"Based on a true story, during World War II, fo..."
5000,16617,Mindhunters,Trainees in the FBI's psychological profiling ...
5001,9101,Down Periscope,Maverick Navy Lieutenant Commander Tom Dodge w...

In [69]:
df['tags'] = df['tags'].apply(lambda x:' '.join(x))

In [61]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [62]:
tfidf = TfidfVectorizer()

In [70]:
tfidf_matrix = tfidf.fit_transform(df['tags'])

tfidf_array = tfidf_matrix.toarray()

In [71]:
tfidf_array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [72]:
tfidf_array.shape

(4879, 37763)

In [73]:
terms = tfidf.get_feature_names_out()

In [75]:
len(terms)

37763

In [77]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [81]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DILKHUSH\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [82]:
stemmer = PorterStemmer()

stop_words = set(stopwords.words('english'))

def preprocess_text(text):
    words = text.split()
    
    processed_words = [stemmer.stem(word) for word in words if word.lower() not in stop_words]
    
    return ' '.join(processed_words)

In [83]:
df['processed_tags'] = df['tags'].apply(preprocess_text)

In [84]:
df

,id,overview,title,genre_names,keywords,cast,director,tags,processed_tags
0,533535,"[A, listless, Wade, Wilson, toils, away, in, c...",Deadpool & Wolverine,"[Action, Comedy, ScienceFiction]","[hero, superhero, antihero, mutant, breakingth...","[RyanReynolds, HughJackman, EmmaCorrin]",[ShawnLevy],A listless Wade Wilson toils away in civilian ...,listless wade wilson toil away civilian life d...
1,1022789,"[Teenager, Riley's, mind, headquarters, is, un...",Inside Out 2,"[Animation, Family, Adventure, Comedy]","[sadness, disgust, sequel, computeranimation, ...","[AmyPoehler, MayaHawke, KensingtonTallman]",[KelseyMann],Teenager Riley's mind headquarters is undergoi...,teenag riley' mind headquart undergo sudden de...
2,704239,"[A, New, Jersey, construction, worker, goes, f...",The Union,"[Action, Comedy]","[espionage, spy, oldflame, miscegenation, cons...","[MarkWahlberg, HalleBerry, J.K.Simmons]",[JulianFarino],A New Jersey construction worker goes from reg...,new jersey construct worker goe regular guy as...
3,573435,"[After, their, late, former, Captain, is, fram...",Bad Boys: Ride or Die,"[Action, Crime, Thriller, Comedy]","[miami,florida, sequel, ontherun, policedetect...","[WillSmith, MartinLawrence, VanessaHudgens]",[AdilElArbi],"After their late former Captain is framed, Low...","late former captain framed, lowrey burnett tri..."
4,519182,"[Gru, and, Lucy, and, their, girls—Margo,, Edi...",Despicable Me 4,"[Animation, Family, Comedy, Action]","[superhero, villain, sequel, supervillain, ill...","[SteveCarell, KristenWiig, WillFerrell]",[ChrisRenaud],"Gru and Lucy and their girls—Margo, Edith and ...","gru luci girls—margo, edith agnes—welcom new m..."
...,...,...,...,...,...,...,...,...,...
4997,297090,"[The, ""Torture, Club"", is, an, official, after...",The Torture Club,"[Drama, Comedy]","[bondage, lesbianrelationship, torture, basedo...","[NorikoKijima, HarunaYoshizumi, YukiMamiya]",[KōtaYoshida],"The ""Torture Club"" is an official after-school...","""tortur club"" offici after-school activ privat..."
4998,764835,"[A, woman, desperately, races, to, save, her, ...",The Desperate Hour,[Thriller],[schoolshooting],"[NaomiWatts, ColtonGobbo, SierraMaltby]",[PhillipNoyce],A woman desperately races to save her child af...,woman desper race save child polic place homet...
4999,13813,"[Based, on, a, true, story,, during, World, Wa...",Defiance,"[Action, Drama, History, War]","[siblingrelationship, fight, brother, worldwar...","[DanielCraig, LievSchreiber, JamieBell]",[EdwardZwick],"Based on a true story, during World War II, fo...","base true story, world war ii, four jewish bro..."
5000,16617,"[Trainees, in, the, FBI's, psychological, prof...",Mindhunters,"[Mystery, Thriller, Crime]","[island, fbi, simulation, training, serialkill...","[KathrynMorris, JonnyLeeMiller, LLCoolJ]",[RennyHarlin],Trainees in the FBI's psychological profiling ...,traine fbi' psycholog profil program must put ...
5001,9101,"[Maverick, Navy, Lieutenant, Commander, Tom, D...",Down Periscope,[Comedy],"[mutiny, submarine, u.s.navy, misfit, maverick...","[KelseyGrammer, LaurenHolly, RobSchneider]",[DavidS.Ward],Maverick Navy Lieutenant Commander Tom Dodge w...,maverick navi lieuten command tom dodg never t...

In [85]:
tfidf = TfidfVectorizer(max_features=5000)

In [86]:
fidf_matrix = tfidf.fit_transform(df['processed_tags'])

terms = tfidf.get_feature_names_out()

print(len(terms))

5000

In [87]:
terms

array(['000', '10', '100', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [88]:
from sklearn.metrics.pairwise import cosine_similarity

In [89]:
simi = cosine_similarity(fidf_matrix)

In [90]:
simi

array([[1.        , 0.01919303, 0.00901656, ..., 0.00350439, 0.01027991,
        0.00251378],
       [0.01919303, 1.        , 0.02911852, ..., 0.        , 0.        ,
        0.0178582 ],
       [0.00901656, 0.02911852, 1.        , ..., 0.00430931, 0.        ,
        0.00309117],
       ...,
       [0.00350439, 0.        , 0.00430931, ..., 1.        , 0.02712278,
        0.01367535],
       [0.01027991, 0.        , 0.        , ..., 0.02712278, 1.        ,
        0.        ],
       [0.00251378, 0.0178582 , 0.00309117, ..., 0.01367535, 0.        ,
        1.        ]])

In [91]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(simi[index])), reverse=True, key=lambda x:x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [93]:
recommend('Stree')

The Ritual Killer
Alien Outpost
Paranormal Activity: Next of Kin
The Conference
The Conference

In [99]:
test = new_df[new_df[['title', 'tags']].duplicated()]

In [102]:
test

,id,title,tags
98,1032823,Trap,A father and teen daughter attend a pop concer...
200,866398,The Beekeeper,One man's campaign for vengeance takes on nati...
350,970347,The Killer,"Zee is a feared contract killer known as ""the ..."
400,1197406,The Hawk,Criminals control Mexico and wrestling is now ...
440,753342,Napoleon,An epic that details the checkered rise and fa...
600,1022690,Ricky Stanicky,When three childhood best friends pull a prank...
601,103,Taxi Driver,A mentally unstable Vietnam War veteran works ...
980,1302004,Kaskasero,"A talented mechanic and driver, Migs quickly f..."
1120,1948,Crank,"Chev Chelios, a hit man wanting to go straight..."
1360,1824,50 First Dates,Henry is a player skilled at seducing women. B...
1520,46195,Rio,Captured by smugglers when he was just a hatch...
1560,116711,Epic,A teenager finds herself transported to a deep...
1800,23398,Alvin and the Chipmunks: The Squeakquel,"Pop sensations Alvin, Simon and Theodore end u..."
1801,826510,Harold and the Purple Crayon,"Inside of his book, adventurous Harold can mak..."
1980,1161048,The Conference,A team-building conference for municipal emplo...
2320,14,American Beauty,"Lester Burnham, a depressed suburban father in..."
2321,9323,Ghost in the Shell,"In the year 2029, the barriers of our world ha..."
2322,353616,Pitch Perfect 3,After the highs of winning the world champions...
2400,845861,State of Siege: Temple Attack,Based on the true incident of the 2002 terrori...
2401,283566,Evangelion: 3.0+1.0 Thrice Upon a Time,"In the aftermath of the Fourth Impact, strande..."
2402,10461,Get Carter,"Jack Carter, a mob enforcer living in Las Vega..."
2560,924482,The Ledge,A rock climbing adventure between two friends ...
2780,461130,Code 8,"In Lincoln City, some inhabitants have extraor..."
3000,28460,Sailor Moon SuperS: The Movie: Black Dream Hole,The wicked Badiyanu has come to capture all Ea...
3140,879957,Wyrmwood: Apocalypse,"In a zombie-infested Australian wasteland, sol..."
3240,39145,Dragon Ball: Sleeping Princess in Devil's Castle,Goku and Kuririn are given an assignment by Ka...
3241,7840,"10,000 BC",A prehistoric epic that follows a young mammot...
3340,10731,The Client,"A street-wise kid, Mark Sway, sees the suicide..."
3342,531428,Portrait of a Lady on Fire,On an isolated island in Brittany at the end o...
3420,3049,Ace Ventura: Pet Detective,He's Ace Ventura: Pet Detective. Jim Carrey is...
3421,34295,Inuyasha the Movie 3: Swords of an Honorable R...,"Inuyasha and his brother, Sesshomaru, each inh..."
3521,1024773,It Lives Inside,"Desperate to fit in at school, Sam rejects her..."
3920,839,Duel,Traveling businessman David Mann angers the dr...
3921,9062,Love Story,Harvard Law student Oliver Barrett IV and musi...
4354,983044,The Arctic Convoy,"In 1942, a convoy of 35 civilian ships, carryi..."
4362,195589,Neighbors,A couple with a newborn baby face unexpected d...
4585,763164,Apex,Ex-cop Thomas Malone is serving a life sentenc...
4643,530442,"My Teacher, My Obsession",Riley is struggling to make friends after tran...
4822,106758,Angel Guts: Red Porno,Nami is a department store worker who agrees t...

In [103]:
test[test['title']=='The Killer']

         id       title                                               tags
350  970347  The Killer  Zee is a feared contract killer known as "the ...

In [108]:
new_df[new_df['title'] == 'The Killer']

          id       title                                               tags
185   970347  The Killer  Zee is a feared contract killer known as "the ...
1613  800158  The Killer  After a fateful near-miss, an assassin battles...
2151   10835  The Killer  Mob assassin Jeffrey is no ordinary hired gun;...
2282  938008  The Killer  When retired hitman’s wife goes on vacation wi...

In [107]:
new_df.drop_duplicates(inplace=True)

In [109]:
import pickle 
pickle.dump(simi, open('similarity.pkl', 'wb'))